<h1>User info</h1>


<!--イメージと自己紹介を追加、下はサンプル-->
<%= form_with model:@user, local:true do |f| %>
<p>Name</p>
  <%= f.text_field :name %>
<p>Image</p>
  <%= f.file_field :image, accept: "image/*" %>
<p>Introduction</p>
  <%= f.text_area :Introduction %><br>
  
  <%= f.submit "Update User " %><br>
<% end %>


