<!--UserShow-->
<%= render "users/show", user: @user %>
<!--NewBook-->
<%= render "books/new", book: @newbook %>


<div>
<h1>Books</h1><!--Userの画像、Title、Opinion-->


<% @books.each do |book| %>
<div>
 <% if book.user.image.attached? %>
      <%= image_tag book.user.image, size: "200×200" %>
    <% else %>
      <% image_tag "no_image.jpg", size: "200×200" %>
    <% end %>
  <p>Title</p>
    <%= link_to book.title, book_path(book.id) %>
  <p>Opinion</p>
    <%= book.body %>
</div>
<% end %>